.card__image {
  height: 413px;
  width: 100%;
  max-width: 100%; /* Prevent overflow */
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Poppins", sans-serif; /* load from Google Fonts */
  font-weight: 500; /* Medium weight */
  font-style: normal; /* normal style */
  font-size: 20px; /* 20px font size */
  line-height: 1.2; /* 120% line height */
  letter-spacing: 0; /* no extra spacing */
  margin: 0; /* remove default margin */
}

.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}

.card__like-btn:hover {
  opacity: 2; /* 200% opacity on hover */
}
