.card__image {
  height: 413px;
  width: 100%;
  max-width: 100%; /* Prevent overflow */
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-family: "Poppins", sans-serif; /* load from Google Fonts */
  font-weight: 500; /* Medium weight */
  font-style: normal; /* normal style */
  font-size: 20px; /* 20px font size */
  line-height: 1.2; /* 120% line height */
  letter-spacing: 0; /* no extra spacing */
  margin: 0; /* remove default margin */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  display: block;
}

.card__like-btn {
  background-image: url(../images/Like\ Icon\ 2.0.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1; /* 200% opacity on hover */
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px; /* ensures long text wraps and doesn't push/crop the button */
    font-size: 16px; /* matches design spec */
  }

  .card__image {
    height: 288px;
  }
}
