/* ---------- Profile Styles ---------- */
.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  max-width: 600px; /* Desktop max-width */
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
}

.profile__description {
  margin: 0 0 32px;
  display: -webkit-box; /* Needed for multi-line ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  max-width: 420px; /* Desktop width */
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  opacity: 0.7;
}

.profile__edit-btn {
  display: flex; /* needed for gap to work */
  align-items: center; /* keeps icon + text aligned */
  padding: 0;
  margin-top: auto;
  align-self: flex-start; /* aligns left inside column */
  background-color: transparent;
  border: none;
  opacity: 70%; /* use decimal instead of % */
  gap: 8px; /* tighter spacing */
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.profile__add-btn {
  display: flex;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500px;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  align-self: flex-end;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.profile__edit-btn:hover {
  cursor: pointer; /* Keeps pointer cursor */
  opacity: 1; /* Fully visible on hover */
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8; /* Slightly faded on hover */
}

/* ---------- Media Queries (Mobile) ---------- */
@media screen and (max-width: 629px) {
  /* Profile adjustments */
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    max-width: 250px;
    font-size: 16px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 0;
    padding: 20px;
  }

  .profile__add-btn {
    display: flex; /* make icon + text align in a row */
    align-items: center; /* vertically centers them */
    justify-content: center; /* centers everything in the button */
    gap: 8px; /* space between icon and text */

    width: 100%; /* full width for mobile */
    grid-column: 3;
    align-self: end;
    padding: 18px 32px;
    border-radius: 8px;
  }
}
